.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px;
  }

  .large-text {   /*la palabra market shop*/
    font-size: 3em; 
    margin-top: 80px;
    font-weight: bold;
  }

  .boton {  /*boton*/
    text-align: center;
    font-size: 2em; 
    margin-top: 100px;
  }
  
  .footer {
    text-align: left;
    font-size: 1em;
    color: black;
    position: absolute;
    bottom: 10px;
    width: 80%;
    font-weight: bold;
    padding-left: 10px;
  }
  
  .app-title  {   /*la palabra crea tu cuenta*/
    display: flex;
    justify-content: center;
    padding: 2px;
    font-size: 1em;
    text-decoration: none;
    color: #007bff; /* Color del enlace */
  }
  
  ion-item { /* separacion del usuario y contraseña*/
    --padding-start: 0; /* izq o der*/
    --inner-padding-end: 0;
    margin-bottom: 20px;
  }
  
  ion-button {  /* margen del boton ingresar*/
    margin-top: 0px;
  }
  
  ion-input { /* largo de usuario y contraseña*/
    --padding-start: 0px;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .logo {     /*tamaño y animacion del logo*/
    width: 200px;
    height: auto;
    animation: zoomIn 3s ease-in-out infinite alternate;
  }

  @keyframes zoomIn {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.5);
    }
  }