.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding: 20px;
  }

.large-text {   /*la palabra formulario de registro*/
    font-size: 2em; 
    margin-top: 80px;
    font-weight: bold;
  }

  input {
    padding-right: 0px; /* campo de la fecha de nacimiento */
    margin-top: 0px;
  }
  
  mat-datepicker-toggle {
    position: center;
    right: 10px; /* Ajusta la distancia del ícono respecto al borde derecho */
    
  }

  button {
    margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 80px; /* Espacio entre los botones */
  margin-top: 30px;
}


  .footer {
    text-align: left;
    font-size: 1em;
    color: black;
    position: absolute;
    bottom: 10px;
    width: 80%;
    font-weight: bold;
    padding-left: 10px;
  }
  

  
