.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding: 20px;
  }

.large-text {   /*la palabra suscripcion*/
    font-size: 2em; 
    margin-top: 80px;
    font-weight: bold;
  }


  .footer {
    text-align: left;
    font-size: 1em;
    color: black;
    position: absolute;
    bottom: 10px;
    width: 80%;
    font-weight: bold;
    padding-left: 10px;
  }

