<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Market Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="ion-text-center titulo">Lista de Clientes</h1>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item *ngFor="let user of users">
              <ion-label>
                <h2>{{ user.name }}</h2>
                <p>{{ user.email }}</p>
                <ion-button color="danger" (click)="eliminarUsuario(user.id)">Eliminar</ion-button>
              </ion-label>
            </ion-item>
          </ion-list>


  <!-- Formulario para agregar un nuevo usuario -->
          <ion-card class="agregar-usuario-card">
            <ion-card-header>
              <ion-card-title>Agregar Nuevo Usuario</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input [(ngModel)]="nuevoUsuario.name" type="text" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input [(ngModel)]="nuevoUsuario.email" type="email" required></ion-input>
              </ion-item>
              <ion-button expand="block" color="secondary" (click)="agregarUsuario()">Agregar Usuario</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>