<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Market Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1> Pàgina No Encontrada </h1>
  <ion-img src="assets/img/404.svg" ></ion-img>

  <ion-button routerLink="/login" expand="block" class="ion-margin-top">
    <ion-icon name="home" slot="start"></ion-icon>
    Volver al Login
  </ion-button>
  
  
</ion-content>
